<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Email</label>
    <input type="email" formControlName="email" />
    <div *ngIf="loginForm.get('email')?.touched">
      <div
        *ngIf="loginForm.get('email')?.errors?.['required']"
        style="color: red"
      >
        Email is required.
      </div>
      <div *ngIf="loginForm.get('email')?.errors?.['email']" style="color: red">
        Invalid email format.
      </div>
    </div>
  </div>

  <div>
    <label>Password</label>
    <input type="password" formControlName="password" />
    <div
      *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
      style="color: red"
    >
      Password is required.
    </div>
  </div>

  <button type="submit" [disabled]="loginForm.invalid">Login</button>

  <div *ngIf="errorMessage" style="color: red; margin-top: 10px">
    {{ errorMessage }}
  </div>
</form>
