<div *ngIf="isLoading">Loading…</div>
<div *ngIf="!isLoading && loadError">{{ loadError }}</div>

<ng-container *ngIf="!isLoading && loadedCv">
  <app-cv-form
    [mode]="'edit'"
    [value]="loadedCv"
    (formStatusChanged)="onFormValidityChanged($event)"
    (formSubmitted)="onFormSubmitted($event)"
  ></app-cv-form>

  <div class="actions">
    <button (click)="save()" [disabled]="!canSave">Save</button>
    <button (click)="openSaveAsModal()" [disabled]="!canSaveAs">Save As</button>
  </div>

  <!-- Save As Modal -->
  <app-cv-name-modal
    *ngIf="showSaveAsModal"
    (onSave)="handleSaveAs($event)"
    (onCancel)="closeSaveAsModal()"
  ></app-cv-name-modal>
</ng-container>
