<ng-container>
  <div *ngIf="pdfSafeUrl; else loading" class="pdf-wrapper">
    <iframe
      [src]="pdfSafeUrl"
      width="100%"
      height="900"
      style="border: none"
      title="CV PDF"
    >
    </iframe>
  </div>

  <ng-template #loading>
    <div class="loading-state">
      <p *ngIf="loading">Loading…</p>
      <p *ngIf="!loading && error">{{ error }}</p>
    </div>
  </ng-template>

  <div class="actions">
    <button [routerLink]="['/cv/edit', cvId]">Edit</button>
    <button (click)="openDeleteModal()">Delete</button>
    <button (click)="exportPdf()">Download</button>
  </div>
</ng-container>

<app-delete-confirm-modal
  *ngIf="showDeleteModal"
  [count]="1"
  (confirm)="confirmDelete()"
  (cancel)="closeDeleteModal()"
>
</app-delete-confirm-modal>
